.dashboard {
  width: 900px;
  height: 100%;
  @include flexSetUp(flex-start, center, column);
  margin: auto;
  background: white;
  padding-top: 15px;

  .top {
    width: 85%;
    @include flexSetUp(flex-start, center, column);
    
    .button {
      background: $lime-green;
      @include flexSetUp(center, center);
      height: 30px;
      padding: 5px 10px;
      color: black;
      font-size: 20px;
      font-weight: 900;
      border-radius: 7px;
      transition: .1s linear box-shadow, .4s ease background-color;
      margin-bottom: 20px;
      box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.63);
      -webkit-user-select: none;
    }
    .button:hover{
      cursor: pointer;
      background-color: $lime-green-hover;
    }
    .button:active{
      box-shadow: 1px 1px 0px rgba(75, 75, 75, 0.63);
    }
    .filter {
      border-bottom: 1px solid grey;
      padding-bottom: 15px;
      margin-bottom: 15px;
      width: 100%;
      @include flexSetUp(center, center);
      

      input {
        width: 80px;
      }

      .reset-btn {
        @include flexSetUp(center, center);
        color: white;
        background: $dark-green;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.63);
        margin-left: 8px;
        cursor: pointer;
        transition: .1s linear box-shadow, .4s ease background-color;
        -webkit-user-select: none;
      }
      .reset-btn:hover {
        background: $dark-green-hover;
      }
      .reset-btn:active{
        box-shadow: 1px 1px 2px rgba(75, 75, 75, 0.63);
      }
    }
  }
  .houses {
    width: 90%;
    @include flexSetUp(space-around, flex-start, row);
    flex-wrap: wrap;

    .house-card-dashboard {
      position: relative;
      width: 30%;
      height: 225px;
      margin-bottom: 20px;
      @include flexSetUp(flex-start, center, column);
      transition: .4s ease-in-out all;

      .star {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: .1s ease-in all;
      }

      .star:hover {
        transform: scale(1.2);
      }
        
      .img-container {
        margin: 3px 3px 0 3px;
        @include width-height(98%, 175px);
        @include flexSetUp(center, center);
        overflow: hidden;

        img {
          @include width-height(100%, auto);
        }

      }
      .test {
        cursor: pointer;
        color: black;
        text-decoration: none;
        h1 {
          @include flexSetUp(center, center);
          font-size: 20px;
          height: 50px;
          text-align: center;
          font-weight: 700;
        }
        h4 {
          text-align: center;
        }
      }
    }
  }
  .house-card-dashboard:hover {
    transform: scale(1.02);
  }
}