@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$main-font: 'Open Sans', sans-serif;

$dark-green: #3b5249;
$dark-green-hover: #253b33;
$medium-green: #519872;
$light-green: #afd4c0;
$lime-green: #8aea92;
$lime-green-hover:#69ce6f;
$pink: #fec2c2;
$light-pink: #f6f0f0;